<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>پنل دانشجویان | کلاس ها</title>
  <link rel="icon" type="image/png" sizes="94x94" href="../../images/Favicon/ICDRN-Favicon-(94x94).png">
  <link rel="manifest" href="../../images/Favicon/manifest.json">
  <link rel="stylesheet" href="../../dist/css/main.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
  
  

  <style>


.swiper-container {
   width: 100%;
   height: 100%;
 }

 .swiper-slide {
   text-align: center;
   font-size: 18px;
   background: #fff;

   /* Center slide text vertically */
   display: -webkit-box;
   display: -ms-flexbox;
   display: -webkit-flex;
   display: flex;
   -webkit-box-pack: center;
   -ms-flex-pack: center;
   -webkit-justify-content: center;
   justify-content: center;
   -webkit-box-align: center;
   -ms-flex-align: center;
   -webkit-align-items: center;
   align-items: center;
 }

#loader-wrapper {
position:fixed;
display: flex;
justify-content: center;
align-items: center;
top:0;
left:0;
width:100%;
height:100%;
z-index:1000;
}

#loader-wrapper .loader {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
z-index: 10001;
width:300px;
height:150px;
}

#loader-wrapper .loader h2 {

font-size: 30px;
font-family: Kalameh-Black;
color: #fff;


}


@-webkit-keyframes spin {
0%   {
 -webkit-transform: rotate(0deg);
   -ms-transform: rotate(0deg);
       transform: rotate(0deg);
}
100% {
 -webkit-transform: rotate(360deg);
   -ms-transform: rotate(360deg);
       transform: rotate(360deg);
}
}
@keyframes spin {
0%   {
 -webkit-transform: rotate(0deg);
   -ms-transform: rotate(0deg);
       transform: rotate(0deg);
}
100% {
 -webkit-transform: rotate(360deg);
   -ms-transform: rotate(360deg);
       transform: rotate(360deg);
}
}

#loader-wrapper .loader-section {
position:fixed;
top:0;
background-image: linear-gradient(#258c93,#1D3C4E);
width:51%;
height:100%;
z-index:1000;
}

#loader-wrapper .loader-section.section-left {
left:0
}
#loader-wrapper .loader-section.section-right {
right:0;
}

/* Loaded Styles */
.loaded #loader-wrapper .loader-section.section-left {
transform: translateX(-100%);
transition: all 0.7s 0.3s cubic-bezier(0.645,0.045,0.355,1.000);
}
.loaded #loader-wrapper .loader-section.section-right {
transform: translateX(100%);
transition: all 0.7s 0.3s cubic-bezier(0.645,0.045,0.355,1.000);
}
.loaded #loader {
opacity: 0;
transition: all 0.3s ease-out;
}
.loaded #loader-wrapper {
visibility: hidden;
transform:translateY(-100%);
transition: all 0.3s 1s ease-out;
}

</style>

</head>
<body>

  
  <div class="container-panel container-panel-classlist">

    <div class="panel-overlay hide-for-desktop">

     <nav class="panel-overlay-menu">

      <img src="../../images/ICDRN-Navbar-Logo.png" alt="" class="logo">

      <div class="panel-menu-item">
    
        <img src="../../images/Panel-Home-Icon.svg" alt="">


        <a href="/dashboard">
          
  
  
          پیشخوان
        
        </a>

      </div>

  

      <div class="panel-menu-item active">

        <img src="../../images/Panel-Classes-Icon.svg" alt="">


        <a href="/panel/class-list">
  
  
          لیست کلاس ها
        
        </a>

      </div>


      <div class="panel-menu-item">

        <img src="../../images/Panel-Classes-Registration-icon.svg" alt="">


        <a href="/panel/class-registration">
  
  
          کلاس جدید
        
        </a>

      </div>

      <div class="panel-menu-item">

        <img src="../../images/Panel-Placemennt-list-icon.svg" alt="">


        <a href="/panel/placement-test-history">
  
  
          تعیین سطح ها
        
        </a>

      </div>

      <div class="panel-menu-item">
        <img src="../../images/Panel-edit-profile-icon.svg" alt="">


        <a href="/panel/profile-edit">
  
          
          ویرایش اطلاعات
        
        </a>

      </div>

      <div class="panel-exit-box">
    
        <img src="../../images/Panel-Exit.svg" alt="">
  
      </div>

     </nav>

    </div>

    <div class="navbar">

      <div class="navbar-search">

        <div class="searchbox">

          <div class="search-input-box">
            <input type="text" class="search-input" placeholder="بین کلاس ها جستجو کن">
            <!-- <i class="fas fa-search"></i> -->
            <button class="search-btn" type="submit">
              جستجو
            </button> 
          </div>
        </div>

      </div>

      <div class="navbar-status">

        <div class="panel-status-bar">

         <div class="status-icons">

          <div class="bells">
    
            <a href="/"> <img src="../../images/Panel-home.svg" 
              alt=""></a>

            <!-- <div class="bells-dropdown">
              <h3>
                <span>|</span>
                  پیام های سیستمی آیلتس کلاب
              </h3>
              <div class="email-list">
                <p>

                  <img src="../../images/Email-Blob.svg" alt="">

                  <span class="email-title">
                    فراموزشی رمز عبور
                  </span>

                  روی لینک زیر کلیک کنید...!

                </p>
                <p>

                  <img src="../../images/Email-Blob.svg" alt="">

                  <span class="email-title">
                    تخفیف ویژه مهاجرت
                  </span>

                  اطلاعات بیشتر مطالعه...

                </p>
                <p>

                  <img src="../../images/Email-Blob.svg" alt="">

                  <span class="email-title">
                    در دوران کرونا آنلاین بیاموزید
                  </span>

                 به راحتی آب..!

                </p>
                <p>

                  <img src="../../images/Email-Blob.svg" alt="">

                  <span class="email-title">
                    شبکه های اجتماعی ما
                  </span>

                 در کنار هم پیشرفت..!

                </p>
                <p>

                  <img src="../../images/Email-Blob.svg" alt="">

                  <span class="email-title">
                    صورت حساب دوره جدید 
                  </span>

                 تجربه ای کاملا امن.!

                </p>
              </div>
             </div> -->
    
          </div>
    
          <div class="message">
    
            <img src="../../images/Panel-Messsage.svg" 
            alt="">
            <div class="message-dropdown">
              <h3>
                <span>|</span>
                  لیست ایمیل های شما
              </h3>
              <!-- <div class="email-list">
                <p>

                  <img src="../../images/Email-Blob.svg" alt="" >

                  <span class="email-title">
                    فراموزشی رمز عبور
                  </span>

                  روی لینک زیر کلیک کنید...!

                </p>
                <p>

                  <img src="../../images/Email-Blob.svg" alt="">

                  <span class="email-title">
                    تخفیف ویژه مهاجرت
                  </span>

                  اطلاعات بیشتر مطالعه...

                </p>
                <p>

                  <img src="../../images/Email-Blob.svg" alt="">

                  <span class="email-title">
                    در دوران کرونا آنلاین بیاموزید
                  </span>

                 به راحتی آب..!

                </p>
                <p>

                  <img src="../../images/Email-Blob.svg" alt="">

                  <span class="email-title">
                    شبکه های اجتماعی ما
                  </span>

                 در کنار هم پیشرفت..!

                </p>
                <p>

                  <img src="../../images/Email-Blob.svg" alt="">

                  <span class="email-title">
                    صورت حساب دوره جدید 
                  </span>

                 تجربه ای کاملا امن.!

                </p>
              </div> -->
             </div> 
    
          </div>
    
          <div class="profile">
    
            <img src="../../images/Panel-Profile.svg" alt="">
    

            <div class="profile-dropdown">
             <h3>
               <span>|</span>
                <%= userName  %>  خوش اومدی :)
             </h3>
             <form action="/logout" method="GET">
              <div class="exit-btn">
               <input type="image" src="../../images/Logout-Icon.svg" width="40px"/>
              <!-- <img src="../../images/Logout-Icon.svg" alt="" onclick=""> -->
              </div></form>
            </div>

          </div>

    

         </div>

          <div class="panel-humburger hide-for-desktop">
    
            <img src="../../images/Panel-Burger.svg" alt="">
    
          </div>
          
    
        </div>

      </div>

    </div>

    <div class="main">

      <div class="class-list">

        <div class="class-list-title">
          <h2>
            <span>
              |
            </span>
            لیست کلاس های  شما
          </h2>
          <form action="/panel/class-registration" method="GET">
          <button type="submit" class="icdrn-btn" >
       ثبت نام در کلاس ها    +

          </button></form> 
        </div>
     
        <div class="class-list-cards">
          <% if(classes.length != 0){
          classes.forEach(element => {
            function selectClassName(){
              if(element.className=="Ielts")
              return  "کلاس آیلتس";
            
            if(element.className=="Toefl")
              return "کلاس تافل"
            
            if(element.className=="Duolingo")
              return "کلاس Duolingo"
            
            if(element.className=="Emigration")
              return "کلاس مهاجرت"
            
            if(element.className=="Conversation")
              return "کلاس مکالمه"
            }

            function selectClassTeacher(){
              if(element.classTeacher=="Noorzad")
              return  "دکتر پژمان نورزاد";
            
            if(element.classTeacher=="Bahrami")
              return "خانم هانیه بهرامی"
            
            if(element.classTeacher=="Mohebiii")
              return "خانم عاطفه محبی"
            
            if(element.classTeacher=="Nouri")
              return "خانم مینا نوری"
            
            if(element.classTeacher=="Zolfaghari")
              return "خانم آرزو ‌‌ذولفقاری"
            
            if(element.classTeacher=="Jadidi")
            return "اقای جواد جدیدی"
            if(element.classTeacher=="Asi")
            return "خانم نیکتا عاصی‌ شاد"

            if(element.classTeacher=="Fallah")
            return "اقای مهرشاد فلاح"

            if(element.classTeacher=="Hadavi")
            return "خانم مریم هادوی"

            if(element.classTeacher=="Keshtkar")
            return "خانم زهرا کشتکار"
            }

            function selectTeacherImage(){
              if(element.classTeacher=="Noorzad")
              return  "../../images/Master-Pic-1.png";
            
            if(element.classTeacher=="Bahrami")
              return "../../images/Master-Pic-3.png"
            
            if(element.classTeacher=="Mohebiii")
              return "../../images/Master-Pic-2.png"
            
            if(element.classTeacher=="Nouri")
              return "../../images/Master-Pic-4.png"
            
            if(element.classTeacher=="Zolfaghari")
              return "../../images/Master-Pic-5.png"
            
            if(element.classTeacher=="Jadidi")
            return "../../images/Master-Pic-6.png"
            
            if(element.classTeacher=="Asi")
            return "../../images/Master-Pic-7.png"

            if(element.classTeacher=="Fallah")
            return "../../images/Master-Pic-8.png"

            if(element.classTeacher=="Hadavi")
            return "../../images/Master-Pic-9.png"

            if(element.classTeacher=="Keshtkar")
            return "../../images/Master-Pic-10.png"

            }
            
            function selectClassType(){
              if(element.classType=="Private")
              return  "نوع کلاس : Private";
            
            if(element.classType=="Public")
              return "نوع کلاس : Public"
            }
            
            
                  
                 %> 
          <div class="class-card">

            <div class="class-detail">

              <h3>
                <%= selectClassName(); %>
              </h3>

              <ul class="class-info">

                <li>
                  مدرس: <%= selectClassTeacher(); %>
                </li>
                <li>
                 <%= selectClassType(); %>

                </li>

                <li>
                 اطلاعات  :  <%= element.classDeatails || element.classTime %>
                </li>

              </ul>
              <% if(element.proccess == "inProccess")  { %>
                <button type="submit" class="icdrn-btn" disabled>
                  در حال انتظار
                  </button>
                  
              <% }else{ %>
                <div class="btn-row">
                  <button type="button" class="icdrn-btn" onclick="window.location.href='<%=element.classLink%>'">
                  ورود
                  </button>
                  
                  <button type="button" class="icdrn-btn" onclick="window.location.href='/panel/quiz-list/<%=element._id%>'">
                    آزمون ها
                    </button>
                  </div>
                
                  <% } %>
            </div>

            <div class="class-pic">

              <img src="<%= selectTeacherImage(); %>" alt="">
              
            </div>

          </div>

          
          <%
      });
          }
          %>      
        </div>
    
      </div>

    </div>

    <div class="side-menu hide-for-phone">

        <nav class="panel-menu-list">
    
          <div class="panel-logo">
    
            <img src="../../images/ICDRN-Navbar-Logo.png" alt="">
    
          </div>
    
          <div class="panel-menu-item">
    
            <img src="../../images/Panel-Home-Icon.svg" alt="">
    
    
            <a href="/dashboard">
      
      
              پیشخوان
            
            </a>
    
          </div>
    
      
    
          <div class="panel-menu-item active">
    
            <img src="../../images/Panel-Classes-Icon.svg" alt="">
    
    
            <a href="/panel/class-list">
      
      
              لیست کلاس ها
            
            </a>
    
          </div>
    
    
          <div class="panel-menu-item">
    
            <img src="../../images/Panel-Classes-Registration-icon.svg" alt="">
    
    
            <a href="/panel/class-registration">
      
      
              کلاس جدید
            
            </a>
    
          </div>
    
          <div class="panel-menu-item">
    
            <img src="../../images/Panel-Placemennt-list-icon.svg" alt="">
    
    
            <a href="/panel/placement-test-history">
      
      
              تعیین سطح ها
            
            </a>
    
          </div>
    
          <div class="panel-menu-item">
    
            <img src="../../images/Panel-edit-profile-icon.svg" alt="">
    
    
            <a href="/panel/profile-edit">
      
      
              ویرایش اطلاعات
            
            </a>
    
          </div>
    
        </nav>
    
        <div class="panel-exit-box">
    
          <img src="../../images/Panel-Exit.svg" alt="">
    
        </div>
    

    </div>

  </div>

    <!-- No Quiz Modal -->

    <section class="icdrn-modal" id="studentNoQuizModal">
      <div class="icdrn-modal-content">
  
        <span class="modal-close" class="studentNoQuizModalClose" id="modal-closeA">
          &times;
        </span>
  
        <img src="../../images/no-quiz.svg" class="modal-img" alt="">
  
  
  
        <h3>
         هنوز برات آزمونی ایجاد نشده !
        </h3>
  
        <p>
          لطفا بعدا دوباره امتحان کن
        </p>
  
        <button type="button" class="icdrn-btn studentNoQuizModalClose" id="checkAgain">
  
          بازگشت
  
        </button>
  
      </div>
    </section>
  
    <!-- Quiz List Modal  -->
  
    <section class="icdrn-modal-lg student-quiz-list-modal" id="studentQuizListModal">
  
      <span class="modal-close" id="modal-close">
      &times;
      </span>
  
      <div class="icdrn-modal-grid">
  
         <div class="modal-content">
  
            <h3>
               آزمون های فعال تو
            </h3>
  
            <div class="quiz-list">
  
              <% if(showData!=null){ 
              showData.forEach(element => {
                
               %>

              <div class="quiz-item">
  
               <div class="quiz-item-title">
                <span>
                 <%= element.Type %>
                </span>
              </div> 
  
               <div class="quiz-item-date">
                <span>
                 <%= element.StartDate %> | <%= element.StartHour %>
                </span>
              </div> 
  
              
  
              <div class="quiz-item-btn">
  
                <button type="button" class="icdrn-btn" onclick="window.location.href='/students/run-exam/<%=element._id %>'">
                  شروع آزمون
                </button>
                
              </div> 
  
              </div>
  
            <% });} %> 
  
            </div>
  
  
         </div>
  
         <div class="modal-img">
  
            <img src="../../images/student-quiz-list.svg" alt="">
  
            <div class="modal-img-subtitle hide-for-phone">
  
               <span>
               لطفا
               </span>
  
               اطلاعات حساب کاربری خود را در پنل کاربری
  
               <br>
  
               به درستی وارد کنید تا در صورت برقراری کلاس ها، 
  
               <br>
  
               امکان تماس با شما دوست عزیز فراهم باشد.
  
            </div>
  
         </div>
  
      </div>
  
   </section>
  
     <!-- TimeOut Quiz Modal -->
  
     <section class="icdrn-modal" id="timeOutQuizModal">
      <div class="icdrn-modal-content">
  
        <span class="modal-close" id="modal-closeB" class="studentNoQuizModalClose">
          &times;
        </span>
  
        <img src="../../images/time-out-quiz.svg" class="modal-img" alt="">
  
  
  
        <h3 style="font-size:30px;margin-top:-10px">
         یکم دیگه باید صبر کنی رفیق :)
        </h3>
  
        <p  style="margin-top:-5px">
          هنوز زمان آزمون نرسیده! 
          
          <span style="background-color: #258c9321;color: #1D3C4E; border-radius: 10px;
          padding: 4px; font-size:14px">
           یکم دیگه برگرد پیشمون
          </span>
  
        </p>
  
        <button type="button" class="icdrn-btn studentNoQuizModalClose" id="checkAgain"  onclick="window.Location.href='/panel/class-list'" style="margin-top:-7px">
  
          بازگشت
  
        </button>
  
      </div>
    </section>



    <!-orgnized Before modal -->
  
  <section class="icdrn-modal" id="orgnizedBefore">
   <div class="icdrn-modal-content">

     <span class="modal-close" id="modal-closeF" class="studentNoQuizModalClose">
       &times;
     </span>

     <img src="../../images/time-out-quiz.svg" class="modal-img" alt="">



     <h3 style="font-size:30px;margin-top:-10px">
      قبلا توی این آزمون شرکت کردی رفیق :)
     </h3>

     <p  style="margin-top:-5px">
       منتظر باش تا کارنامه 
       
       <span style="background-color: #258c9321;color: #1D3C4E; border-radius: 10px;
       padding: 4px; font-size:14px">
        به دسستت برسه
       </span>

     </p>

     <button type="button" class="icdrn-btn studentNoQuizModalClose" id="checkAgain"  onclick="window.location.href='/panel/class-list'" style="margin-top:-7px">

       بازگشت

     </button>

   </div>
 </section>



  <div id="loader-wrapper">
      <div id="loader"></div>
      <div class="loader-section section-left">
    
      </div>
      <div class="loader-section section-right"></div>
      <div class="loader">
        <img src="../images/loading.svg" alt="">
        <h2>سایت در حال بارگذاریه!</h2>
      </div>
    </div>



    
    
    
      <script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@latest/dist/js/splide.min.js"></script>
    
    
      <script >
    
        //For Live Projects
            window.addEventListener('load',function(){
              document.querySelector('body').classList.add("loaded")  
            });
        
            
        
          </script>
         <% if(showData) {%>
          <script>
            
            const examShowModal=document.querySelector("#studentQuizListModal");
            examShowModal.style.display="flex";
            document.querySelector("#modal-close").addEventListener("click",(e)=>{
              examShowModal.style.display="none";
            })
          </script>
          <% } %>
          <% if(isNull) {%>
          <script>
            
            const examNullModal=document.querySelector("#studentNoQuizModal");
            examNullModal.style.display="flex";
            document.querySelector("#modal-closeA").addEventListener("click",(e)=>{
              examNullModal.style.display="none";
            })
          </script>
          <% } %>
          <% if(timeError) {%>
          <script>
            
            const timeError=document.querySelector("#timeOutQuizModal");
            timeError.style.display="flex";
            document.querySelector("#modal-closeB").addEventListener("click",(e)=>{
              timeError.style.display="none";
            })
          </script>
          <% } %>
          <% if(orgnizedBefore) {%>
          <script>
            
            const orgnizedBefore=document.querySelector("#orgnizedBefore");
            orgnizedBefore.style.display="flex";
            document.querySelector("#modal-closeF").addEventListener("click",(e)=>{
              orgnizedBefore.style.display="none";
            })
          </script>

          
          <% } %>
  <script src="../../app/js/app.js"></script>
  <script src="../../app/js/PanelMenuToggle.js"></script>

</body>
</html>