<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>پنل اساتید | ویرایش پروفایل</title>
  <link rel="icon" type="image/png" sizes="94x94" href="../../images/Favicon/ICDRN-Favicon-(94x94).png">
  <link rel="manifest" href="../../images/Favicon/manifest.json">
  <link rel="stylesheet" href="../../dist/css/main.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
  
  <style>

    body {

      background-color: #F4F4F8 !important;

    }



    #loader-wrapper {
    position:fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:1000;
    }

    #loader-wrapper .loader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 10001;
    width:300px;
    height:150px;
    }

    
    #loader-wrapper .loader .loader-animation{
  
      width: 24px;
      height: 80px;
      display: block;
      margin: 35px auto 0;
      border: 1px solid #FFF;
      border-radius: 0 0 50px 50px;
      position: relative;
      box-shadow: 0px 0px #E0A75D inset;
      background-image: linear-gradient(#E0A75D 100px, transparent 0);
      background-position: 0px 0px;
      background-size: 22px 80px;
      background-repeat: no-repeat;
      box-sizing: border-box;
      animation: animloader 6s linear infinite;

      
    }

    #loader-wrapper .loader .loader-animation::after {
  content: '';  
  box-sizing: border-box;
  top: -6px;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  border: 1px solid #FFF;
  border-radius: 50%;
  width: 28px;
  height: 6px;
}

    #loader-wrapper .loader .loader-animation::before {
      content: '';  
      box-sizing: border-box;
      left: 0;
      bottom: -4px;
      border-radius: 50%;
      position: absolute;
      width: 6px;
      height: 6px;
      animation: animloader1 6s linear infinite;
    }

@keyframes animloader {
  0% {
    background-position: 0px 80px;
  }
  100% {
    background-position: 0px 0px;
  }
}

@keyframes animloader1 {
  0% {
    box-shadow: 4px -10px rgba(255, 255, 255, 0), 6px 0px rgba(255, 255, 255, 0), 8px -15px rgba(255, 255, 255, 0), 12px 0px rgba(255, 255, 255, 0);
  }
  20% {
    box-shadow: 4px -20px rgba(255, 255, 255, 0), 8px -10px rgba(255, 255, 255, 0), 10px -30px rgba(255, 255, 255, 0.5), 15px -5px rgba(255, 255, 255, 0);
  }
  40% {
    box-shadow: 2px -40px rgba(255, 255, 255, 0.5), 8px -30px rgba(255, 255, 255, 0.4), 8px -60px rgba(255, 255, 255, 0.5), 12px -15px rgba(255, 255, 255, 0.5);
  }
  60% {
    box-shadow: 4px -60px rgba(255, 255, 255, 0.5), 6px -50px rgba(255, 255, 255, 0.4), 10px -90px rgba(255, 255, 255, 0.5), 15px -25px rgba(255, 255, 255, 0.5);
  }
  80% {
    box-shadow: 2px -80px rgba(255, 255, 255, 0.5), 4px -70px rgba(255, 255, 255, 0.4), 8px -120px rgba(255, 255, 255, 0), 12px -35px rgba(255, 255, 255, 0.5);
  }
  100% {
    box-shadow: 4px -100px rgba(255, 255, 255, 0), 8px -90px rgba(255, 255, 255, 0), 10px -120px rgba(255, 255, 255, 0), 15px -45px rgba(255, 255, 255, 0);
  }
}

    #loader-wrapper .loader h2 {

    font-size: 30px;
    font-family: Kalameh-Black;
    color: #fff;


    }


    @-webkit-keyframes spin {
    0%   {
    -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
          transform: rotate(0deg);
    }
    100% {
    -webkit-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
          transform: rotate(360deg);
    }
    }

    @keyframes spin {
    0%   {
    -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
          transform: rotate(0deg);
    }
    100% {
    -webkit-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
          transform: rotate(360deg);
    }
    }

    #loader-wrapper .loader-section {
    position:fixed;
    top:0;
    background-image: linear-gradient(#258c93,#1D3C4E);
    width:51%;
    height:100%;
    z-index:1000;
    }

    #loader-wrapper .loader-section.section-left {
    left:0
    }

    #loader-wrapper .loader-section.section-right {
    right:0;
    }

    .loaded #loader-wrapper .loader-section.section-left {
    transform: translateX(-100%);
    transition: all 0.7s 0.3s cubic-bezier(0.645,0.045,0.355,1.000);
    }

    .loaded #loader-wrapper .loader-section.section-right {
    transform: translateX(100%);
    transition: all 0.7s 0.3s cubic-bezier(0.645,0.045,0.355,1.000);
    }

    .loaded #loader {
    opacity: 0;
    transition: all 0.3s ease-out;
    }

    .loaded #loader-wrapper {
    visibility: hidden;
    transform:translateY(-100%);
    transition: all 0.3s 1s ease-out;
    }



  </style>


</head>
<body>

  
  <div class="container-teacher-panel container-teacher-panel-edit-profile">

    <div class="panel-overlay hide-for-desktop">

     <nav class="panel-overlay-menu">

      <a href="/panel"><img src="../../images/ICDRN-Navbar-Logo.png" alt="" class="logo"></a>

      <div class="panel-menu-item">
    
        <img src="../../images/Panel-Home-Icon.svg" alt="">


        <a href="/teachers/dashboard">
  
  
          پیشخوان
        
        </a>

      </div>

  

      <div class="panel-menu-item">

        <img src="../../images/Panel-Classes-Icon.svg" alt="">


        <a href="/teachers/class-list">
  
  
          کلاس های من
        
        </a>

      </div>


      <div class="panel-menu-item">

        <img src="../../images/Panel-Classes-Registration-icon.svg" alt="">


        <a href="/teachers/add-class">
  
  
          اضافه کردن کلاس
        
        </a>

      </div>

      <div class="panel-menu-item">

        <img src="../../images/Panel-Placemennt-list-icon.svg" alt="">


        <a href="/teachers/placement-test-list">
  
  
          تاریخچه تعیین سطح
        
        </a>

      </div>

      <div class="panel-menu-item">

        <img src="../../images/Panel-Students-list.svg" alt="" style="width: 30px;">


        <a href="/teachers/student-list">
  
  
          لیست دانشجویان
        
        </a>

      </div>

      <div class="panel-menu-item active">

        <img src="../../images/Panel-edit-profile-icon.svg" alt="">


        <a href="/teachers/edit-profile">
  
  
          ویرایش اطلاعات
        
        </a>

      </div>

      <div class="panel-exit-box">

        <img src="../../images/Teachers-Illustration.svg" alt="">
  
      </div>

     </nav>

    </div>

    <div class="navbar teacher-ct">

      <div class="navbar-search">

        <div class="searchbox">

          <form method="POST" action="/teachers/users">
            <div class="search-input-box">
              <input type="text" class="search-input" placeholder="جستجو بین کاربران" name="name">
              <!-- <i class="fas fa-search"></i> -->
              <button class="search-btn" type="submit">
                <span>
                  جستجو
                </span>
                <img src="../../images/search.svg" alt="">
              </button>
            </div>
          </form> 
        </div>

      </div>

      <div class="navbar-status">

        <div class="panel-status-bar">

         <div class="status-icons">

          <div class="bells">
    
            <a href="/panel"> <img src="../../images/Panel-home.svg" 
              alt=""></a>
    
          </div>
    
          <div class="message">
    
            <img src="../../images/Panel-Messsage.svg" 
            alt="">

            <div class="message-dropdown">
              <h3>
                <span>|</span>
                  لیست ایمیل های شما
              </h3>
              <!-- <div class="email-list">
                <p>

                  <img src="../../images/Email-Blob.svg" alt="">

                  <span class="email-title">
                    فراموزشی رمز عبور
                  </span>

                  روی لینک زیر کلیک کنید...!

                </p>
                <p>

                  <img src="../../images/Email-Blob.svg" alt="">

                  <span class="email-title">
                    تخفیف ویژه مهاجرت
                  </span>

                  اطلاعات بیشتر مطالعه...

                </p>
                <p>

                  <img src="../../images/Email-Blob.svg" alt="">

                  <span class="email-title">
                    در دوران کرونا آنلاین بیاموزید
                  </span>

                 به راحتی آب..!

                </p>
                <p>

                  <img src="../../images/Email-Blob.svg" alt="">

                  <span class="email-title">
                    شبکه های اجتماعی ما
                  </span>

                 در کنار هم پیشرفت..!

                </p>
                <p>

                  <img src="../../images/Email-Blob.svg" alt="">

                  <span class="email-title">
                    صورت حساب دوره جدید 
                  </span>

                 تجربه ای کاملا امن.!

                </p>
              </div> -->
             </div>
    
          </div>
    
          <div class="profile">
    
            <img src="../../images/Panel-Profile.svg" alt="">
    

            <div class="profile-dropdown">
             <h3>
               <span>|</span>
                <%= userName%> عزیز خوش اومدی :)
             </h3>
             <form action="/logout" method="GET">
              <div class="exit-btn">
               <input type="image" src="../../images/Logout-Icon.svg" width="40px"/>
              <!-- <img src="../../images/Logout-Icon.svg" alt="" onclick=""> -->
              </div></form>
            </div>

          </div>

    

         </div>

          <div class="panel-humburger hide-for-desktop">
    
            <img src="../../images/Panel-Burger.svg" alt="">
    
          </div>
          
    
        </div>

      </div>

    </div>

    <div class="main teacher-ct">

      <div class="profile-edit">

        <div class="profile-edit-title">
          <h2>
            <span>
              |
            </span>
            ویرایش مشخصات کاربری
          </h2>
        </div>

        <div class="profile-edit-grid">

          <div class="profile-edit-form">
            <form action="/teachers/edit-profile" method="POST" >
            <div class="fullname-box">

              <label for="" class="icdrn-label">
                نام و نام خانوادگی
              </label>

              <input type="text" class="fullname-input" value="<%= name  %>" name="name">
              
              
            </div>

            
            <div class="email-box">

              <label for="" class="icdrn-label">
                آدرس ایمیل (غیر قابل تغییر)
              </label>

              <input type="text" class="email-input" value="<%= email %>" disabled>
              
            </div>

            
            <div class="phone-box">

              <label for="" class="icdrn-label">
                شماره تماس
              </label>

              <input type="phone" class="phone-input" value="<%= phone  %>" name="phone">
              
            </div>

            <div class="profile-edit-btn-box">

              <button type="submit" class="icdrn-btn">
                بروزرسانی اطلاعات
              </button>

            </div>
          </form>
          </div>
        
          <div class="class-registration-pic">

            <img src="../../images/Profile-edit-Pic.svg" alt="">

          </div>

        </div>

      </div>

    </div>


    <div class="side-menu hide-for-phone">

        <nav class="panel-menu-list">
    
          <div class="panel-logo">
    
            <a href="/panel"><img src="../../images/ICDRN-Navbar-Logo.png" alt=""></a>
    
          </div>
    
          <div class="panel-menu-item">
    
            <img src="../../images/Panel-Home-Icon.svg" alt="">
    
    
            <a href="/teachers/dashboard">
      
      
              پیشخوان
            
            </a>
    
          </div>
    
      
    
          <div class="panel-menu-item">
    
            <img src="../../images/Panel-Classes-Icon.svg" alt="">
    
    
            <a href="/teachers/class-list">
      
      
              کلاس های من
            
            </a>
    
          </div>
    
    
          <div class="panel-menu-item">
    
            <img src="../../images/Panel-Classes-Registration-icon.svg" alt="">
    
    
            <a href="/teachers/add-class">
      
      
              اضافه کردن کلاس
            
            </a>
    
          </div>
    
          <div class="panel-menu-item">
    
            <img src="../../images/Panel-Placemennt-list-icon.svg" alt="">
    
    
            <a href="/teachers/placement-test-list">
      
      
              تعیین سطح ها
            
            </a>
    
          </div>

          
          <div class="panel-menu-item">

            <img class="panel-menu-item-students special-icon" src="../../images/Panel-Students-list.svg" alt="">


            <a href="/teachers/student-list">
      
      
              لیست دانشحویان
            
            </a>

          </div>
        
          <div class="panel-menu-item active ">
    
            <img src="../../images/Panel-edit-profile-icon.svg" alt="">
    
    
            <a href="/teachers/edit-profile">
      
      
              ویرایش اطلاعات
            
            </a>
    
          </div>
    
        </nav>
    
        <div class="panel-exit-box">
    
           <img src="../../images/Teachers-Illustration.svg" alt="">
    
        </div>
    

    </div>

  </div>
  <section class="icdrn-modal" id="registerSucsesModal">
          <div class="icdrn-modal-content">
      
            <span class="modal-close" id="modalCloseA">
              &times;
            </span>
      
            <img src="../images/Confirmation-Modal-Img.svg" class="modal-img" alt="">
      
      
      
            <h3>
              <%= success %> عزیز اطلاعات شما با موفقیت ثبت شد
            </h3>
      
            <p>
      
              اطلاعات شما با موفقیت در پایگاه داده آیلتس کلاب 
              <br>
                ثبت شد      
            </p>
      
             <button type="submit" class="icdrn-btn" id="bastan">
               <a href="/teachers/dashboard">
               بستن
              </a>
            </button> 
      
          </div>
        </section>


       
        <section class="icdrn-modal" id="registerErrorModal">
          <div class="icdrn-modal-content">
      
            <span class="modal-close" id="modalClose">
              &times;
            </span>
      
            <img src="../images/auth-err-pic.svg" class="modal-img" alt="">
      
      
      
            <h3 id="h3-box">
             <%= error %>
            </h3>
      
            <p>
      
              لطفا اطلاعاتی که وارد کردی 
              <br>
              رو یه بار دیگه با دقت بیشتر مرور کن!
      
            </p>
      
            <button type="submit" class="icdrn-btn" id="checkAgain">
      
              برسی دوباره فرم
      
            </button>
      
          </div>
        </section>

        



    </div>

  </div>

  <% if (error) { %>  >
    <script> 

     const getRegisterErrorModal = document.querySelector('#registerErrorModal');
    
     const getCheckAgain = document.querySelector('#checkAgain');
     
     const getmodalClose = document.querySelector('#modalClose');
 
     getRegisterErrorModal.style.display = "flex";

     getCheckAgain.addEventListener('click', ()=> {

     getRegisterErrorModal.style.display = "none";

     })

     getmodalClose.addEventListener("click",()=>{

     getRegisterErrorModal.style.display = "none";

    });
 
    </script>
    <% } %>   
 <% if (success) { %>
   <script> 

    const registerSucsesModal = document.querySelector('#registerSucsesModal');
   

    const getmodalBastan = document.querySelector("#bastan")
    const getmodalClose = document.querySelector('#modalCloseA');

    registerSucsesModal.style.display = "flex";


    getmodalClose.addEventListener("click",()=>{

     registerSucsesModal.style.display = "none";

   });
   getmodalBastan.addEventListener("click",()=>{
    registerSucsesModal.style.display = "none";
   });
   </script>
<% } %> 


<div id="loader-wrapper">
  <div id="loader"></div>
  <div class="loader-section section-left">

  </div>
  <div class="loader-section section-right"></div>
  <div class="loader">
    <span class="loader-animation"></span>
  </div>
</div>


  <script src="app/js/app.js"></script>
  <script src="app/js/placementTestModal.js"></script>
  <script src="app/js/mockQuizModal.js"></script>

  <script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@latest/dist/js/splide.min.js"></script>


  <script>

    //For Live Projects
        window.addEventListener('load',function(){
          document.querySelector('body').classList.add("loaded")  
        });
    
    
      </script>
  
  <script src="../../app/js/buttonsAnimation.js"></script>
  <script src="../../app/js/app.js"></script>
  <script src="../../app/js/PanelMenuToggle.js"></script>

</body>
</html>