<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>پنل اساتید | ویرایش کلاس</title>
   <link rel="icon" type="image/png" sizes="94x94" href="../../images/Favicon/ICDRN-Favicon-(94x94).png">
   <link rel="manifest" href="../../images/Favicon/manifest.json">
   <link rel="stylesheet" href="../../dist/css/main.min.css">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">

   <style>
      body {

         background-color: #F4F4F8 !important;

      }

      .swiper-container {

         width: 100%;
         height: 100%;

      }

      .swiper-slide {
         text-align: center;
         font-size: 18px;
         background: #fff;
         display: -webkit-box;
         display: -ms-flexbox;
         display: -webkit-flex;
         display: flex;
         -webkit-box-pack: center;
         -ms-flex-pack: center;
         -webkit-justify-content: center;
         justify-content: center;
         -webkit-box-align: center;
         -ms-flex-align: center;
         -webkit-align-items: center;
         align-items: center;
      }

      #loader-wrapper {
         position: fixed;
         display: flex;
         justify-content: center;
         align-items: center;
         top: 0;
         left: 0;
         width: 100%;
         height: 100%;
         z-index: 1000;
      }

      #loader-wrapper .loader {
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: center;
         z-index: 10001;
         width: 300px;
         height: 150px;
      }

      #loader-wrapper .loader h2 {

         font-size: 30px;
         font-family: Kalameh-Black;
         color: #fff;


      }


      @-webkit-keyframes spin {
         0% {
            -webkit-transform: rotate(0deg);
            -ms-transform: rotate(0deg);
            transform: rotate(0deg);
         }

         100% {
            -webkit-transform: rotate(360deg);
            -ms-transform: rotate(360deg);
            transform: rotate(360deg);
         }
      }

      @keyframes spin {
         0% {
            -webkit-transform: rotate(0deg);
            -ms-transform: rotate(0deg);
            transform: rotate(0deg);
         }

         100% {
            -webkit-transform: rotate(360deg);
            -ms-transform: rotate(360deg);
            transform: rotate(360deg);
         }
      }

      #loader-wrapper .loader-section {
         position: fixed;
         top: 0;
         background-image: linear-gradient(#258c93, #1D3C4E);
         width: 51%;
         height: 100%;
         z-index: 1000;
      }

      #loader-wrapper .loader-section.section-left {
         left: 0
      }

      #loader-wrapper .loader-section.section-right {
         right: 0;
      }

      .loaded #loader-wrapper .loader-section.section-left {
         transform: translateX(-100%);
         transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
      }

      .loaded #loader-wrapper .loader-section.section-right {
         transform: translateX(100%);
         transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
      }

      .loaded #loader {
         opacity: 0;
         transition: all 0.3s ease-out;
      }

      .loaded #loader-wrapper {
         visibility: hidden;
         transform: translateY(-100%);
         transition: all 0.3s 1s ease-out;
      }
   </style>

</head>

<body>
   <div class="container-teacher-panel container-teacher-panel-edit-classes">
      <div class="panel-overlay hide-for-desktop">
         <nav class="panel-overlay-menu">

            <div class="panel-logo">

               <img src="../../images/ICDRN-Panel-Logo.png" alt="">
               <div class="panel-logo-title">
                  <h2>
                     آیلتس کلاب
                  </h2>
                  <div>
                     دکتر پژمان نورزاد
                  </div>
               </div>

            </div>


            <div class="panel-menu-item">
               <img src="../../images/Panel-Home-Icon.svg" alt="">
               <a href="/teachers/dashboard">
                  پیشخوان
               </a>
            </div>
            <div class="panel-menu-item">
               <img src="../../images/Panel-Classes-Icon.svg" alt="">
               <a href="/teachers/class-list">
                  کلاس های من
               </a>
            </div>
            <div class="panel-menu-item">
               <img src="../../images/Panel-Classes-Registration-icon.svg" alt="">
               <a href="/teachers/add-class">
                  اضافه کردن کلاس
               </a>
            </div>
            <div class="panel-menu-item">
               <img src="../../images/Panel-Placemennt-list-icon.svg" alt="">
               <a href="/teachers/placement-test-list">
                  تاریخچه تعیین سطح
               </a>
            </div>
            <div class="panel-menu-item">
               <img src="../../images/Panel-edit-profile-icon.svg" alt="">
               <a href="/teachers/student-list">
                  لیست دانشجویان
               </a>
            </div>
            <div class="panel-menu-item active">
               <img src="../../images/Panel-edit-profile-icon.svg" alt="">
               <a href="/teachers/edit-profile">
                  ویرایش اطلاعات
               </a>
            </div>
            <div class="panel-exit-box">
               <img src="../../images/Teachers-Illustration.svg" alt="">
            </div>
         </nav>
      </div>
      <div class="navbar teacher-ct">
         <div class="navbar-search">
            <div class="searchbox">
               <form method="POST" action="/teachers/users">
                  <div class="search-input-box">
                     <input type="text" class="search-input" placeholder="جستجو بین کاربران" name="name">
                     <!-- <i class="fas fa-search"></i> -->
                     <button class="search-btn" type="submit">
                        جستجو
                     </button>
                  </div>
               </form>
            </div>
         </div>
         <div class="navbar-status">
            <div class="panel-status-bar">
               <div class="status-icons">
                  <div class="bells">
                     <a href="/"> <img src="../../images/Panel-home.svg" alt=""></a>

                     <!-- <div class="bells-dropdown">
                           <h3>
                              <span>|</span>
                              پیام های سیستمی آیلتس کلاب
                           </h3>
                           <div class="email-list">
                              <p>
                                 <img src="../../images/Email-Blob.svg" alt="">
                                 <span class="email-title">
                                 فراموزشی رمز عبور
                                 </span>
                                 روی لینک زیر کلیک کنید...!
                              </p>
                              <p>
                                 <img src="../../images/Email-Blob.svg" alt="">
                                 <span class="email-title">
                                 تخفیف ویژه مهاجرت
                                 </span>
                                 اطلاعات بیشتر مطالعه...
                              </p>
                              <p>
                                 <img src="../../images/Email-Blob.svg" alt="">
                                 <span class="email-title">
                                 در دوران کرونا آنلاین بیاموزید
                                 </span>
                                 به راحتی آب..!
                              </p>
                              <p>
                                 <img src="../../images/Email-Blob.svg" alt="">
                                 <span class="email-title">
                                 شبکه های اجتماعی ما
                                 </span>
                                 در کنار هم پیشرفت..!
                              </p>
                              <p>
                                 <img src="../../images/Email-Blob.svg" alt="">
                                 <span class="email-title">
                                 صورت حساب دوره جدید 
                                 </span>
                                 تجربه ای کاملا امن.!
                              </p>
                           </div>
                        </div> -->
                  </div>
                  <div class="message">
                     <img src="../../images/Panel-Messsage.svg" alt="">
                     <div class="message-dropdown">
                        <h3>
                           <span>|</span>
                           لیست ایمیل های شما
                        </h3>
                        <!-- <div class="email-list">
                              <p>
                                 <img src="../../images/Email-Blob.svg" alt="">
                                 <span class="email-title">
                                 فراموزشی رمز عبور
                                 </span>
                                 روی لینک زیر کلیک کنید...!
                              </p>
                              <p>
                                 <img src="../../images/Email-Blob.svg" alt="">
                                 <span class="email-title">
                                 تخفیف ویژه مهاجرت
                                 </span>
                                 اطلاعات بیشتر مطالعه...
                              </p>
                              <p>
                                 <img src="../../images/Email-Blob.svg" alt="">
                                 <span class="email-title">
                                 در دوران کرونا آنلاین بیاموزید
                                 </span>
                                 به راحتی آب..!
                              </p>
                              <p>
                                 <img src="../../images/Email-Blob.svg" alt="">
                                 <span class="email-title">
                                 شبکه های اجتماعی ما
                                 </span>
                                 در کنار هم پیشرفت..!
                              </p>
                              <p>
                                 <img src="../../images/Email-Blob.svg" alt="">
                                 <span class="email-title">
                                 صورت حساب دوره جدید 
                                 </span>
                                 تجربه ای کاملا امن.!
                              </p>
                           </div> -->
                     </div>
                  </div>
                  <div class="profile">
                     <img src="../../images/Panel-Profile.svg" alt="">
                     <div class="profile-dropdown">
                        <h3>
                           <span>|</span>
                           <%= userName %> عزیز خوش اومدی :)
                        </h3>
                        <form action="/logout" method="GET">
                           <div class="exit-btn">
                              <input type="image" src="../../images/Logout-Icon.svg" width="40px" />
                              <!-- <img src="../../images/Logout-Icon.svg" alt="" onclick=""> -->
                           </div>
                        </form>
                     </div>
                  </div>
               </div>
               <div class="panel-humburger hide-for-desktop">
                  <img src="../../images/Panel-Burger.svg" alt="">
               </div>
            </div>
         </div>
      </div>
      <div class="main teacher-ct">
         <div class="classes-edit">
            <div class="classes-edit-title">
               <h2>
                  <span>
                     |
                  </span>
                  ویرایش کلاس آنلاین
               </h2>
            </div>
            <div class="classes-edit-grid">
               <div class="classes-edit-form">
                  <div class="classes-edit-actions">
                     <button type="submit" class="icdrn-btn hide-for-phone" id="editInstructorBtn1">
                        ویرایش اطلاعات
                     </button>
                     <button type="submit" onclick="window.location.href='/teachers/delete-class/<%= classId%>'"
                        class="icdrn-btn hide-for-phone " id="editTimeBtn">
                        حذف کلاس
                     </button>

                     <div class="row hide-for-desktop">
                        <button type="submit" class="icdrn-btn" id="editInstructorBtn2">
                           ویرایش اطلاعات
                        </button>
                        <button type="submit" onclick="window.location.href='/teachers/delete-class/<%= classId%>'"
                           class="icdrn-btn">
                           حذف کلاس
                        </button>
                     </div>
                     <button type="submit" class="icdrn-btn add-students" id="addStudentsBtn">
                        اضافه کردن دانشجو
                     </button>
                  </div>
                  <div class="classes-edit-table-box">
                     <table>
                        <tr>
                           <th>نام دانشجو</th>
                           <th>آدرس ایمیل</th>
                           <th>عملیات</th>
                        </tr>

                        <% students.forEach(element => {
                              
                             %>

                        <tr>
                           <td><%= element.name %></td>
                           <td><%= element.email %></td>
                           <td>
                              <a href="/teachers/edit-class/deleteStudent/<%= classId %>/<%= element._id %>"><button
                                    type="submit" class="icdrn-btn">
                                    حذف
                                 </button></a>
                           </td>
                        </tr>

                        <% }); %>



                     </table>
                  </div>
               </div>
               <div class="class-registration-pic">
                  <img src="../../images/Profile-edit-Pic.svg" alt="">
               </div>
            </div>
         </div>
      </div>
      <div class="side-menu hide-for-phone">
         <nav class="panel-menu-list">


            <div class="panel-logo">

               <img src="../../images/ICDRN-Panel-Logo.png" alt="">
               <div class="panel-logo-title">
                  <h2>
                     آیلتس کلاب
                  </h2>
                  <div>
                     دکتر پژمان نورزاد
                  </div>
               </div>

            </div>

            <div class="panel-menu-item">
               <img src="../../images/Panel-Home-Icon.svg" alt="">
               <a href="/teachers/dashboard">
                  پیشخوان
               </a>
            </div>
            <div class="panel-menu-item">
               <img src="../../images/Panel-Classes-Icon.svg" alt="">
               <a href="/teachers/class-list">
                  کلاس های من
               </a>
            </div>
            <div class="panel-menu-item">
               <img src="../../images/Panel-Classes-Registration-icon.svg" alt="">
               <a href="/teachers/add-class">
                  اضافه کردن کلاس
               </a>
            </div>
            <div class="panel-menu-item">
               <img src="../../images/Panel-Placemennt-list-icon.svg" alt="">
               <a href="/teachers/placement-test-list">
                  تعیین سطح ها
               </a>
            </div>
            <div class="panel-menu-item">
               <img class="panel-menu-item-students special-icon" src="../../images/Panel-Students-list.svg" alt="">
               <a href="/teachers/student-list">
                  لیست دانشحویان
               </a>
            </div>
            <div class="panel-menu-item active ">
               <img src="../../images/Panel-edit-profile-icon.svg" alt="">
               <a href="/teachers/edit-profile">
                  ویرایش اطلاعات
               </a>
            </div>
         </nav>
         <div class="panel-exit-box">
            <img src="../../images/Teachers-Illustration.svg" alt="">
         </div>
      </div>
   </div>
   <div id="loader-wrapper">
      <div id="loader"></div>
      <div class="loader-section section-left">
      </div>
      <div class="loader-section section-right"></div>
      <div class="loader">
         <img src="../images/loading.svg" alt="">
         <h2>سایت در حال بارگذاریه!</h2>
      </div>
   </div>




   <!-- Modals -->


   <section class="icdrn-modal" id="addStudentsModal" style="display: none;">

      <div class="icdrn-modal-content">

         <form action="/teachers/edit-class/<%= classId %>/addStudent" method="POST">



            <span class="modal-close" id="modalCloseD">
               &times;
            </span>



            <img src="../images/Confirmation-Modal-Img.svg" class="modal-img" alt="" style="display: none;">

            <h3>
               اضافه کردن دانشجو
            </h3>

            <div class="add-students-box">

               <input type="text" class="add-students-input" placeholder="ایمیل دقیق دانشجویان را با کاما جدا کنید..."
                  required name="classStudents">

            </div>

            <button type="submit" class="icdrn-btn">

               ثبت تغیرات

            </button>


         </form>

      </div>

   </section>


   <!-- Edit Classe's General Info -->

   <section class="icdrn-modal-lg edit-class-general-info" id="editClassGeneralInfo">

      <span class="modal-close" id="modalCloseA">&times;</span>

      <div class="icdrn-modal-grid">

         <div class="modal-content">

            <h3 id="infoBox">
               ویرایش کلی کلاس
            </h3>


            <div class="modal-form" id="modal-form">

               <div class="coursename-box">



                  <div class="select">
                     <select id="standard-select" name="className">
                        <option value="Ielts" <% if (classDeatails.className=="Ielts") {%> selected <% }%>>کلاس آنلاین
                           آموزشی آیلتس</option>
                        <option value="Toefl" <% if (classDeatails.className=="Toefl") {%> selected <% }%>>
                           کلاس آنلاین آموزشی تافل
                        </option>
                        <option value="Emigration" <% if (classDeatails.className=="Emigration") {%> selected <% }%>>
                           کلاس آنلاین آموزشی مهاجرت
                        </option>
                        <option value="Conversation" <% if (classDeatails.className=="Conversation") {%> selected
                           <% }%>>
                           کلاس آنلاین آموزشی مکالمه
                        </option>
                        <option value="PTE" <% if (classDeatails.className=="PTE") {%> selected <% }%>>
                           کلاس آنلاین آموزشی PTE
                        </option>
                        <option value="Duolingo" <% if (classDeatails.className=="Duolingo") {%> selected <% }%>>
                           کلاس آموزشی آنلاین دولینگو
                        </option>
                     </select>
                     <span class="icon"></span>
                  </div>


               </div>

               <div class="row">

                  <div class="coursemode-box">

                     <div class="select">
                        <select id="standard-select" name="classType">
                           <option value="Private" <% if (classDeatails.classType=="Private") {%> selected <% }%>>خصوصی
                           </option>
                           <option value="Public" <% if (classDeatails.classType=="Public") {%> selected <% }%>>عمومی
                           </option>
                        </select>
                        <span class="icon"></span>
                     </div>
                  </div>


                  <div class="courseteacher-box">

                     <div class="select">
                        <select id="standard-select" name="classTeacher">
                           <option value="Noorzad" <% if (classDeatails.classTeacher=="Noorzad") {%> selected <% }%>>
                              دکتر پژمان نورزاد
                           </option>
                           <option value="Bahrami" <% if (classDeatails.classTeacher=="Bahrami") {%> selected <% }%>>
                              خانم هانیه بهرامی
                           </option>
                           <option value="Nouri" <% if (classDeatails.classTeacher=="Nouri") {%> selected <% }%>>
                              خانم مینا نوری
                           </option>
                           <option value="Zolfaghari" <% if (classDeatails.classTeacher=="Zolfaghari") {%> selected
                              <% }%>>
                              خانم آرزو ذوالفقاری
                           </option>
                           <option value="Mohebiii" <% if (classDeatails.classTeacher=="Mohebiii") {%> selected <% }%>>
                              خانم عاطفه محبی
                           </option>
                           <option value="Jadidi" <% if (classDeatails.classTeacher=="Jadidi") {%> selected <% }%>>
                              آقای جواد جدیدی
                           </option>
                           <option value="Asi" <% if (classDeatails.classTeacher=="Asi") {%> selected <% }%>>
                              خانم نیکتا عاصی شاد
                           </option>
                           <option value="Fallah" <% if (classDeatails.classTeacher=="Fallah") {%> selected <% }%>>
                              اقای مهرشاد فلاح
                           </option>
                           <option value="Hadavi" <% if (classDeatails.classTeacher=="Hadavi") {%> selected <% }%>>
                              خانم مریم هادوی
                           </option>
                           <option value="Keshtkar" <% if (classDeatails.classTeacher=="Keshtkar") {%> selected <% }%>>
                              خانم زهرا کشتکار
                           </option>
                           <option value="Mehr" <% if (classDeatails.classTeacher=="Mehr") {%> selected <% }%>>
                              خانم مریم مهر نژاد
                           </option>
                        </select>
                        <span class="icon"></span>
                     </div>

                  </div>
               </div>

               <div class="row">

                  <div class="courselevel-box">


                     <div class="select">
                        <select id="standard-select" name="classLevel">
                           <option value="Starter" <% if (classDeatails.classLevel=="Starter") {%> selected <% }%>>
                              Starter</option>
                           <option value="Elementary" <% if (classDeatails.classLevel=="Elementary") {%> selected
                              <% }%>>Elementary</option>
                           <option value="Pre-Intermediate" <% if (classDeatails.classLevel=="Pre-Intermediate") {%>
                              selected <% }%>>Pre-Intermediate</option>
                           <option value="Intermediate" <% if (classDeatails.classLevel=="Intermediate") {%> selected
                              <% }%>>Intermediate</option>
                           <option value="Upper-Intermediate" <% if (classDeatails.classLevel=="Upper-Intermediate") {%>
                              selected <% }%>>Upper-Intermediate</option>
                           <option value="Advance" <% if (classDeatails.classLevel=="Advance") {%> selected <% }%>>
                              Advance</option>
                        </select>
                        <span class="icon"></span>
                     </div>
                  </div>

                  <div class="coursedate-box">

                     <input type="text" class="coursedate-input" placeholder="زمان دقیق جلسات کلاس"
                        value="<%= classDeatails.classTime %>" name="classTime" required>

                  </div>

               </div>

               <div class="courseroomlink-box">

                  <input type="text" class="courseroomlink-input"
                     placeholder="لینک کامل اتاق مربوط به این کلاس را وارد کنید" name="classLink"
                     value="<%= classDeatails.classLink%>" required>

               </div>


               <button type="button" class="icdrn-btn" id="fetchNewClass">
                  ویرایش کلاس
               </button>


            </div>

         </div>

         <div class="modal-img">

            <img src="../../images/edit-class-general-info-illustration.svg" alt="">

            <div class="modal-img-subtitle hide-for-phone">
               <span>
                  مدرس محترم
               </span>
               تمامی اطلاعاتی که تغییر خواهید داد، بـصورت
               <br>
               اتوماتیک برای دانشــجویان تغییر داده خــواهد شد و نیازی به

               <br>
               اقـــدام دیــگری از ســمت شما در این جــهت نیست. با تشکــر!

            </div>
         </div>

      </div>

   </section>



   <script type="text/javascript">
      //edith General class Info
      const getEditInstructorModal = document.querySelector('#editClassGeneralInfo');

      const getEditInstructorBtn = document.querySelector('#editInstructorBtn1');

      getEditInstructorBtn.addEventListener('click', () => {


         getEditInstructorModal.style.display = "flex";

      })

      const getEditInstructorBtn2 = document.querySelector('#editInstructorBtn2');
      getEditInstructorBtn2.addEventListener('click', () => {


         getEditInstructorModal.style.display = "flex";

      })


      //close modal
      document.getElementById("modalCloseA").addEventListener("click", () => {
         getEditInstructorModal.style.display = "none";
      })




      //add student modal
      const getAddStudentsModal = document.querySelector('#addStudentsModal');

      const getAddStudentseBtn = document.querySelector('#addStudentsBtn');

      getAddStudentseBtn.addEventListener('click', () => {


         getAddStudentsModal.style.display = "flex";

      })

      document.getElementById("modalCloseD").addEventListener("click", () => {
         getAddStudentsModal.style.display = "none";
      })



      //fetch new general class info data





      document.getElementById("fetchNewClass").addEventListener("click", () => {

         const className = document.getElementsByName("className")[0].value;
         const classType = document.getElementsByName("classType")[0].value;
         const classTeacher = document.getElementsByName("classTeacher")[0].value;
         const classLevel = document.getElementsByName("classLevel")[0].value;
         const classTime = document.getElementsByName("classTime")[0].value;
         const classLink = document.getElementsByName("classLink")[0].value;

         if (className == "" || classType == "" || classTeacher == "" || classLevel == "" || classTime == "" ||
            classLink == "") {
            document.getElementById("infoBox").innerHTML = "لطفا تمامی فیلد ها را پر کنید"
            document.getElementById("infoBox").style.color = "#ff0033";
         } else {
            const classInfo = {
               className,
               classType,
               classTeacher,
               classLevel,
               classTime,
               classLink,


            }
            console.log(classInfo)
            const options = {
               method: "POST",
               headers: {
                  "Content-Type": "application/json"
               },
               body: JSON.stringify(classInfo)
            }
            fetch('/teachers/edit-class/general-info/<%= classId %>', options);
            document.getElementById('infoBox').innerHTML = "اطلاعات با موفقیت تغییر یافت";
            document.getElementById('infoBox').style.color = "#4BB543";


         }




      })
   </script>




   <script src="../../app/js/app.js"></script>
   <script src="../../app/js/PanelMenuToggle.js"></script>

   <script>
      //For Live Projects
      window.addEventListener('load', function () {
         document.querySelector('body').classList.add("loaded")
      });
   </script>



</body>

</html>