<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>پنل اساتید | آزمون ها </title>

  <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">


  <link rel="icon" type="image/png" sizes="94x94" href="../../images/Favicon/ICDRN-Favicon-(94x94).png">
  <link rel="manifest" href="../../images/Favicon/manifest.json">
  <link rel="stylesheet" href="../../dist/css/main.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
  <link type="text/css" rel="stylesheet" href="../../jalaliDatepicker.min.css" />
  <script type="text/javascript" src="../../jalaliDatepicker.min.js"></script>

  <style>
    #loader-wrapper {
      position: fixed;
      display: flex;
      justify-content: center;
      align-items: center;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1000;
    }

    #loader-wrapper .loader {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      z-index: 10001;
      width: 300px;
      height: 150px;
    }

    #loader-wrapper .loader h2 {

      font-size: 30px;
      font-family: Kalameh-Black;
      color: #fff;


    }


    @-webkit-keyframes spin {
      0% {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
      }

      100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
      }
    }

    @keyframes spin {
      0% {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
      }

      100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
      }
    }

    #loader-wrapper .loader-section {
      position: fixed;
      top: 0;
      background-image: linear-gradient(#258c93, #1D3C4E);
      width: 51%;
      height: 100%;
      z-index: 1000;
    }

    #loader-wrapper .loader-section.section-left {
      left: 0
    }

    #loader-wrapper .loader-section.section-right {
      right: 0;
    }

    /* Loaded Styles */
    .loaded #loader-wrapper .loader-section.section-left {
      transform: translateX(-100%);
      transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    }

    .loaded #loader-wrapper .loader-section.section-right {
      transform: translateX(100%);
      transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    }

    .loaded #loader {
      opacity: 0;
      transition: all 0.3s ease-out;
    }

    .loaded #loader-wrapper {
      visibility: hidden;
      transform: translateY(-100%);
      transition: all 0.3s 1s ease-out;
    }
  </style>

</head>

<body>


  <div class="container-panel   container-teacher-panel-quiz-list">

    <div class="panel-overlay hide-for-desktop">

      <nav class="panel-overlay-menu">

        <a href="/panel"><img src="../../images/ICDRN-Navbar-Logo.png" alt="" class="logo"></a>

        <div class="panel-menu-item">

          <img src="../../images/Panel-Home-Icon.svg" alt="">


          <a href="/teachers/dashboard">


            پیشخوان

          </a>

        </div>



        <div class="panel-menu-item">

          <img src="../../images/Panel-Classes-Icon.svg" alt="">


          <a href="/teachers/class-list">


            کلاس های من

          </a>

        </div>


        <div class="panel-menu-item">

          <img src="../../images/Panel-Classes-Registration-icon.svg" alt="">


          <a href="/teachers/add-class">


            اضافه کردن کلاس

          </a>

        </div>

        <div class="panel-menu-item">

          <img src="../../images/Panel-Placemennt-list-icon.svg" alt="">


          <a href="/teachers/placement-test-list">


            تاریخچه تعیین سطح

          </a>

        </div>

        <div class="panel-menu-item">

          <img src="../../images/Panel-Students-list.svg" alt="" style="width: 30px;">


          <a href="/teachers/student-list">


            لیست دانشجویان

          </a>

        </div>

        <div class="panel-menu-item active">

          <img src="../../images/Panel-edit-profile-icon.svg" alt="">


          <a href="/teachers/edit-profile">


            ویرایش اطلاعات

          </a>

        </div>

        <div class="panel-exit-box">

          <img src="../../images/Teachers-Illustration.svg" alt="">

        </div>

      </nav>

    </div>

    <div class="navbar">

      <div class="navbar-search">
        <div class="searchbox">

          <form method="POST" action="/teachers/users">
            <div class="search-input-box">
              <input type="text" class="search-input" placeholder="جستجو بین کاربران" name="name">
              <!-- <i class="fas fa-search"></i> -->
              <button class="search-btn" type="submit">
                جستجو
              </button>
            </div>
          </form>
        </div>

      </div>

      <div class="navbar-status">

        <div class="panel-status-bar">

          <div class="status-icons">

            <div class="bells">

              <img src="../../images/Panel-Bells.svg" alt="">

              <!-- <div class="bells-dropdown">
              <h3>
                <span>|</span>
                  پیام های سیستمی آیلتس کلاب
              </h3>
              <div class="email-list">
                <p>

                  <img src="../../images/Email-Blob.svg" alt="">

                  <span class="email-title">
                    فراموزشی رمز عبور
                  </span>

                  روی لینک زیر کلیک کنید...!

                </p>
                <p>

                  <img src="../../images/Email-Blob.svg" alt="">

                  <span class="email-title">
                    تخفیف ویژه مهاجرت
                  </span>

                  اطلاعات بیشتر مطالعه...

                </p>
                <p>

                  <img src="../../images/Email-Blob.svg" alt="">

                  <span class="email-title">
                    در دوران کرونا آنلاین بیاموزید
                  </span>

                 به راحتی آب..!

                </p>
                <p>

                  <img src="../../images/Email-Blob.svg" alt="">

                  <span class="email-title">
                    شبکه های اجتماعی ما
                  </span>

                 در کنار هم پیشرفت..!

                </p>
                <p>

                  <img src="../../images/Email-Blob.svg" alt="">

                  <span class="email-title">
                    صورت حساب دوره جدید 
                  </span>

                 تجربه ای کاملا امن.!

                </p>
              </div>
             </div> -->

            </div>

            <div class="message">

              <img src="../../images/Panel-Messsage.svg" alt="">

              <div class="message-dropdown">
                <h3>
                  <!-- <span>|</span>
                  لیست ایمیل های شما
              </h3>
              <div class="email-list">
                <p>

                  <img src="../../images/Email-Blob.svg" alt="">

                  <span class="email-title">
                    فراموزشی رمز عبور
                  </span>

                  روی لینک زیر کلیک کنید...!

                </p>
                <p>

                  <img src="../../images/Email-Blob.svg" alt="">

                  <span class="email-title">
                    تخفیف ویژه مهاجرت
                  </span>

                  اطلاعات بیشتر مطالعه...

                </p>
                <p>

                  <img src="../../images/Email-Blob.svg" alt="">

                  <span class="email-title">
                    در دوران کرونا آنلاین بیاموزید
                  </span>

                 به راحتی آب..!

                </p>
                <p>

                  <img src="../../images/Email-Blob.svg" alt="">

                  <span class="email-title">
                    شبکه های اجتماعی ما
                  </span>

                 در کنار هم پیشرفت..!

                </p>
                <p>

                  <img src="../../images/Email-Blob.svg" alt="">

                  <span class="email-title">
                    صورت حساب دوره جدید 
                  </span>

                 تجربه ای کاملا امن.!

                </p>
              </div> -->
              </div>

            </div>

            <div class="profile">

              <img src="../../images/Panel-Profile.svg" alt="">


              <div class="profile-dropdown">
                <h3>
                  <span>|</span>
                  <%= userName%> عزیز خوش اومدی :)
                </h3>
                <form action="/logout" method="GET">
                  <div class="exit-btn">
                    <input type="image" src="../../images/Logout-Icon.svg" width="40px" />
                    <!-- <img src="../../images/Logout-Icon.svg" alt="" onclick=""> -->
                  </div>
                </form>
              </div>

            </div>



          </div>

          <div class="panel-humburger hide-for-desktop">

            <img src="../../images/Panel-Burger.svg" alt="">

          </div>


        </div>

      </div>

    </div>

    <div class="main">

      <div class="quiz-list">

        <div class="quiz-list-title">
          <h2>
            <span>
              |
            </span>
            مدیریت آزمون ها
          </h2>
          <button type="button" class="icdrn-btn" id="addQuizBtn">

            آزمون جدید

            <span>+</span>

          </button>
        </div>

        <div class="quiz-list-grid">
          <% exams.forEach(element => {
            let totalMinuts;
            if(element.StartDate==element.StopDate){
              const stopHour=element.StopHour.split(":");
              const startHour=element.StartHour.split(":");
               totalMinuts=((Number(stopHour[0]) * 60 )+Number(stopHour[1]))-((Number(startHour[0]) * 60 )+Number(startHour[1]));
            }else{
              const stopHour=element.StopHour.split(":");
              const startHour=element.StartHour.split(":");
              const lastDay=((24*60)-(Number(startHour[0])*60)-Number(startHour[1]))
              let today=(Number(stopHour[0])*60)+(Number(stopHour[1]));
              totalMinuts="فرمت زمانی نادرست"
            }
            
           
            
           
          %>
          
          <div class="quiz-card">

            <div class="quiz-card-thumbnail">

              <img src="../../images/Final-Exams-Illustration.png" alt="">

            </div>

            <h3>
              <%= element.Title %>
            </h3>

            <div class="quiz-card-detail">

              <div class="quiz-card-detail-icons">

                <img src="../../images/Teacher-Icon-QZ.svg" alt="">
                <img src="../../images/Date-Icon-QZ.svg" alt="">
                <img src="../../images/Detail-Icon-QZ.svg" alt="">

              </div>

              <div class="quiz-card-detail-titles">

                <span>

                  استاد پژمان نورزاد

                </span>

                <span>

                  <%= element.StartDate %> | <%= element.StartHour %>

                </span>

                <span>

                  <%= element.QuestionsNumber %> سوال | <%= totalMinuts %> دقیقه

                </span>

              </div>

            </div>

            <div class="quiz-card-action">

              <button type="button" class="icdrn-btn" onclick="window.location.href='/teachers/manage-exam/<%= element.id %>'">
                مدیریت
              </button>


              <button type="button" onclick="window.location.href='/teacers/run-exam/<%= element.id %>'"
                class="icdrn-btn" id="studentQuizBtn">
                اجرا
              </button>

            </div>

          </div>
          <% }); %>





        </div>

      </div>

    </div>


    <div class="side-menu hide-for-phone">

      <nav class="panel-menu-list">

        <div class="panel-logo">

          <a href="/panel"><img src="../../images/ICDRN-Navbar-Logo.png" alt=""></a>

        </div>

        <div class="panel-menu-item">

          <img src="../../images/Panel-Home-Icon.svg" alt="">


          <a href="/teachers/dashboard">


            پیشخوان

          </a>

        </div>



        <div class="panel-menu-item">

          <img src="../../images/Panel-Classes-Icon.svg" alt="">


          <a href="/teachers/class-list">


            کلاس های من

          </a>

        </div>


        <div class="panel-menu-item">

          <img src="../../images/Panel-Classes-Registration-icon.svg" alt="">


          <a href="/teachers/add-class">


            اضافه کردن کلاس

          </a>

        </div>

        <div class="panel-menu-item">

          <img src="../../images/Panel-Placemennt-list-icon.svg" alt="">


          <a href="/teachers/placement-test-list">


            تعیین سطح ها

          </a>

        </div>


        <div class="panel-menu-item">

          <img class="panel-menu-item-students" src="../../images/Panel-Students-list.svg" alt="">


          <a href="/teachers/student-list">


            لیست دانشحویان

          </a>

        </div>

        <div class="panel-menu-item active ">

          <img src="../../images/Panel-edit-profile-icon.svg" alt="">


          <a href="/teachers/edit-profile">


            ویرایش اطلاعات

          </a>

        </div>

      </nav>

      <div class="panel-exit-box">

        <img src="../../images/Teachers-Illustration.svg" alt="">

      </div>


    </div>

  </div>

  <section class="icdrn-modal-lg new-quiz-modal" id="newQuizModal">

    <span class="modal-close">&times;</span>

    <div class="icdrn-modal-grid">

      <div class="modal-content">

        <h3>
          اضافه کردن آزمون جدید
        </h3>


        <div class="modal-form" id="modal-form">

          <input type="text" class="icdrn-input" placeholder="عنوان آزمون (مثال: elementry)">

          <div class="input-row">

            <input type="text" data-jdp class="icdrn-input" placeholder="تاریخ شروع (۷ خرداد)">
            <input type="time" class="icdrn-input" placeholder="ساعت شروع (۱۵:۰۰)">

          </div>

          <div class="input-row">

            <input type="text" data-jdp class="icdrn-input" placeholder="تاریخ پایان (۸ خرداد)">
            <input type="time" class="icdrn-input" placeholder="ساعت پایان (۱۷:۰۰)">

          </div>


          <div class="input-row">

            <input type="text" class="icdrn-input" placeholder="نوع آزمون ( میان ترم )">
            <input type="number" class="icdrn-input" min="1" max="150" placeholder="تعداد سوالات ( ۶۰ سوال )">

          </div>


          <button type="button" class="icdrn-btn">
            اضافه کردن آزمون
          </button>


        </div>

      </div>

      <div class="modal-img">

        <img src="../../images/student-quiz-list.svg" alt="">

        <div class="modal-img-subtitle hide-for-phone">
          <span>
            مدرس محترم
          </span>
          لطفا اطلاعات مهم آزمون هوشمند از قبیل
          <br>
          زمان اجرا و مدت زمان آزمــون را به دقت و کــامل وارد کنید
          <br>
          طرح سوالالت آزمون در مرحله بعدی رصورت خواهد گرفت.
        </div>
      </div>

    </div>

  </section>

  <div id="loader-wrapper">
    <div id="loader"></div>
    <div class="loader-section section-left">

    </div>
    <div class="loader-section section-right"></div>
    <div class="loader">
      <img src="../images/loading.svg" alt="">
      <h2>سایت در حال بارگذاریه!</h2>
    </div>
  </div>


  <script src="../../app/js/app.js"></script>
  <script src="../../app/js/PanelMenuToggle.js"></script>

  <script>
    //For Live Projects
    window.addEventListener('load', function () {
      document.querySelector('body').classList.add("loaded")
    });
  </script>

  <script>
    jalaliDatepicker.startWatch({});
    document.querySelector('#addQuizBtn').addEventListener('click', () => {

      document.querySelector('.container-teacher-panel-quiz-list').style.filter = "blur(7px)";
      document.querySelector('#newQuizModal').style.display = "flex";


    });
  </script>
  <!--script for sending data -->

  <script>
    const modalform = document.getElementById("modal-form");

    modalform.getElementsByTagName("button")[0].addEventListener("click", () => {
      if (modalform.getElementsByTagName("input")[6].value > 100) {
        modalform.getElementsByTagName("input")[6].value = 100
      }
      const quizInfo = {
        examTitle: modalform.getElementsByTagName("input")[0].value,
        examStartDate: modalform.getElementsByTagName("input")[1].value,
        examStartHour: modalform.getElementsByTagName("input")[2].value,
        examStopDate: modalform.getElementsByTagName("input")[3].value,
        examStopHour: modalform.getElementsByTagName("input")[4].value,
        examType: modalform.getElementsByTagName("input")[5].value,
        QuestionsNumber: modalform.getElementsByTagName("input")[6].value,

      }
      const options = {
        method: "POST",
        headers: {
          "Content-Type": "application/json"
        },
        body: JSON.stringify(quizInfo)
      }
      fetch("/teachers/quiz-list/<%= classId%>", options);
      window.location.href="/teachers/create-exam"
    })
  </script>

</body>

</html>