<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>آزمون | دانشجو</title>

    <link rel="icon" type="image/png" sizes="94x94" href="/en/images/Favicon/ICDRN-Favicon-(94x94).png">
    <link rel="manifest" href="/en/images/Favicon/manifest.json">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../dist/css/main.min.css">

    <!-- <style>

        ::-webkit-scrollbar {

            width: 20px;

        }

        ::-webkit-scrollbar-track {

            box-shadow: inset 0 0 5px rgba(46, 46, 46, 0.11); 
            border-radius: 20px;

        }

        ::-webkit-scrollbar-thumb {

            background:   linear-gradient(145deg, rgba(37,140,147,1) 0%, rgba(70,174,181,1) 100%);
            border-radius: 20px;

        }

    </style> -->

</head>

<body>

    <div class="conatiner student-quiz-page">

        <nav class="student-quiz-nav m-quiz-container">

            <div class="student-quiz-nav-logo">

                <img src="../../images/ICDRN-Navbar-Logo.png" alt="">

                <h3>
                    آزمون هوشمند
                </h3>

            </div>

            <div class="student-quiz-nav-avatar">

                <img src="../../images/Quiz-Avatar.svg" alt="">

                <h3>

                    <span>
                        استاد
                    </span>

                    <%= selectClassTeacher();  %>

                </h3>

            </div>

        </nav>





        <main class="teacher-quiz-body  m-quiz-container">



            <section class="student-quiz-questions  m-quiz-container">




                <% const questionsList=exam.QuestionsList
                questionsList.forEach(element => {
                    
                
                
                %>
                <article class="section-box category-question-box">

                    <div class="question-form-row">

                        <% if(element.questionStructure=="glvQuestionStructureMultiple" || element.questionStructure== "glvQuestionStructureFilling"){ %>
                        <span>
                            <%= element.questionBody%> </span>
                        <% } %>
                    </div>

                    <%  if(element.questionStructure=="glvQuestionStructureMultiple" || element.questionStructure== "rQuestionStructureMultiple" ){ 
                        let f=1 %>
                    <div class="mutiple-options-structure">
                        <% element.questionChoices .forEach(element1 => {
                            f=f+1;
                             %>
                            
                        <div class="mutiple-option-item">

                            <input type="radio" id="option<%= f%>" name="option<%= element.questionId %>" value="<%= element1 %>">
                            <label for="option<%= f%>""><%= element1 %></label>

                        </div>
                       
                       <% }); %>

                       

                    </div>
                    <% }%>
                    <%  if(element.questionStructure=="glvQuestionStructureFilling" || element.questionStructure== "rQuestionStructureFilling" ){ %>
                    <div class="filling-options-structure">

                        <div class="filling-option-item">

                            <input type="text" class="filling-answer-body"
                                placeholder="Enter Your Question Form Here...">

                        </div>


                    </div>
                    <% }%>
                    <%  if(element.questionStructure=="rQuestionStructureReadingBody" ){ %>
                    <div class="reading-options-structure">

                        <div class="reading-option-item" style="white-space: pre-line">

                            <%= element.questionBody %>


                        </div>


                    </div>
                    <% }%>
                    <%  if(element.questionStructure=="wQuestionStructureWritingBody" ){ %>
                    <div class="writing-options-structure">


                        <div class="writing-option-box" style="white-space: pre-line">

                            <%= element.questionBody %>


                        </div>

                        <textarea class="writing-option-answer-box" style="white-space: pre-line">

                           type your answer here...
                                                    
                        </textarea>


                    </div>
                    <% }%>
                </article>

                <% }); %>


            </section>

            <aside class="student-quiz-sidebar  m-quiz-container">

                <div class="student-quiz-sidebar-cover">

                    <img src="../../images/Quiz-pic.svg" alt="">

                </div>


                <h3 class="student-quiz-sidebar-title">
                   <%= exam.Title %>
                </h3>

                <div class="student-quiz-sidebar-info">

                    <div class="student-quiz-sidebar-info-teacher">


                        <img src="../../images/Quiz_Teacher-Icon.svg" alt="">

                        <h3>
                            <span>
                                مدرس دوره
                            </span>
                            <% function selectClassTeacher(){
                                if(Teacher=="Noorzad")
                                return  "دکتر پژمان نورزاد";
                              
                              if(Teacher=="Bahrami")
                                return "خانم هانیه بهرامی"
                              
                              if(Teacher=="Mohebiii")
                                return "خانم عاطفه محبی"
                              
                              if(Teacher=="Nouri")
                                return "خانم مینا نوری"
                              
                              if(Teacher=="Zolfaghari")
                                return "خانم آرزو ‌‌ذولفقاری"
                              
                              if(Teacher=="Jadidi")
                              return "اقای جواد جدیدی"
                              if(Teacher=="Asi")
                              return "خانم نیکتا عاصی‌ شاد"
                  
                              if(Teacher=="Fallah")
                              return "اقای مهرشاد فلاح"
                  
                              if(Teacher=="Hadavi")
                              return "خانم مریم هادوی"
                              
                              if(Teacher=="Keshtkar")
                              return "خانم زهرا کشتکار"
                              } %>
                            <%= selectClassTeacher();  %>

                        </h3>

                    </div>

                    <div class="student-quiz-sidebar-info-questions">

                        <img src="../../images/Quiz_Questions-Icon.svg" alt="">

                        <h3>
                            <span>
                                تعداد سوالات
                            </span>
                            <%= exam.QuestionsNumber %> سوال
                        </h3>

                    </div>

                </div>

                <div class="student-quiz-sidebar-time">

                    <span onclick="window.location.replace('/teachers/quiz-list/<%= exam.ClassID %>')">
                        بازگشت به صفحه آزمون‌ها
                       
                    </span>

                </div>

                <button type="button" class="record-quiz-btn">

                    نهایی سازی آزمون

                </button>


            </aside>

        </main>

    </div>

    <script src="../../app/js/structureIdentifier.js"></script>
</body>

</html>