<!DOCTYPE html>
<html lang="/en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Classes | Student's Panel</title>
  <link rel="icon" type="image/png" sizes="94x94" href="/en/images/Favicon/ICDRN-Favicon-(94x94).png">
  <link rel="manifest" href="/en/images/Favicon/manifest.json">
  <link rel="stylesheet" href="/en/dist/css/main.min.css">
  <link rel="stylesheet" href="/en/dist/css/loader.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
</head>
<body>

  
  <div class="container-panel container-panel-classlist">

    <div class="panel-overlay hide-for-desktop">

      
     <nav class="panel-overlay-menu">

      <img src="/en/images/ICDRN-Navbar-Logo.png" alt="" class="logo">

      <div class="panel-menu-item">
    
        <img src="/en/images/Panel-Home-Icon.svg" alt="">


        <a href="/en/dashboard">
  
  
          Dashboard
        
        </a>

      </div>

  

      <div class="panel-menu-item active">

        <img src="/en/images/Panel-Classes-Icon.svg" alt="">


        <a href="/en/panel/class-list">
  
  
          Classes List
        
        </a>

      </div>


      <div class="panel-menu-item">

        <img src="/en/images/Panel-Classes-Registration-icon.svg" alt="">


        <a href="/en/panel/class-registration">
  
  
          New Class
        
        </a>

      </div>

      <div class="panel-menu-item">

        <img src="/en/images/Panel-Placemennt-list-icon.svg" alt="">


        <a href="/en/panel/placement-test-history">
  
  
          Placement Tests
        
        </a>

      </div>

      <div class="panel-menu-item">

        <img src="/en/images/Panel-edit-profile-icon.svg" alt="">


        <a href="/en/panel/profile-edit">
  
  
          Edit Profile
        
        </a>

      </div>

      <div class="panel-exit-box">
    
        <img src="/en/images/Panel-Exit.svg" alt="">
  
      </div>

     </nav>


    </div>

    <div class="navbar">

      <div class="navbar-search">

        <div class="searchbox">

          <div class="search-input-box">
            <input type="text" class="search-input" placeholder="What Are You Searching About?">
            <!-- <i class="fas fa-search"></i> -->
            <button class="search-btn" type="submit">
              Search
            </button> 
          </div>
          
        </div>

      </div>

      <div class="navbar-status">

        <div class="panel-status-bar">

         <div class="status-icons">

          <div class="bells">
    
            <a href="/en"> <img src="../../images/Panel-home.svg" 
              alt=""></a>
<!-- 
            <div class="bells-dropdown">
              <h3>
                <span>|</span>
                IELTS Club system messages
              </h3>
              <div class="email-list">
                <p>

                  <img src="/en/images/Email-Blob.svg" alt="">

                  <span class="email-title">
                    Forget Password
                  </span>

                  click on link!

                </p>
                <p>

                  <img src="/en/images/Email-Blob.svg" alt="">

                  <span class="email-title">
                    Special immigration discount
                  </span>

                  More Information...

                </p>
                <p>

                  <img src="/en/images/Email-Blob.svg" alt="">

                  <span class="email-title">
                    Learn online during the Corona Epidemic!
                  </span>

                 So Easy!

                </p>
                <p>

                  <img src="/en/images/Email-Blob.svg" alt="">

                  <span class="email-title">
                    Our Social Media Links
                  </span>

                 Improve Together

                </p>
                <p>

                  <img src="/en/images/Email-Blob.svg" alt="">

                  <span class="email-title">
                    New course invoices
                  </span>

                  A completely safe experience!

                </p>
              </div>
             </div> -->
    
          </div>
    
          <div class="message">
    
            <img src="/en/images/Panel-Messsage.svg" 
            alt="">

            <div class="message-dropdown">
              <h3>
                <span>|</span>
              List of your emails           
               </h3>
              <!-- <div class="email-list">
                <p>

                  <img src="/en/images/Email-Blob.svg" alt="">

                  <span class="email-title">
                    Forget Password
                  </span>

                  click on link!

                </p>
                <p>

                  <img src="/en/images/Email-Blob.svg" alt="">

                  <span class="email-title">
                    Special immigration discount
                  </span>

                  More Information...

                </p>
                <p>

                  <img src="/en/images/Email-Blob.svg" alt="">

                  <span class="email-title">
                    Learn online during the Corona Epidemic!
                  </span>

                  So Easy!

                </p>
                <p>

                  <img src="/en/images/Email-Blob.svg" alt="">

                  <span class="email-title">
                    Our Social Media Links
                  </span>

                  Improve Together

                </p>
                <p>

                  <img src="/en/images/Email-Blob.svg" alt="">

                  <span class="email-title">
                    New course invoices
                  </span>

                  A completely safe experience!

                </p>
              </div> -->
             </div>
    
          </div>
    
          <div class="profile">
    
            <img src="/en/images/Panel-Profile.svg" alt="">
    

            <div class="profile-dropdown">
             <h3>
               <span>|</span>
                Welcome Dear <%= userName  %>! 
             </h3>
             <form action="/en/logout" method="GET">
              <div class="exit-btn">
               <input type="image" src="../../images/Logout-Icon.svg" width="40px"/>
              <!-- <img src="../../images/Logout-Icon.svg" alt="" onclick=""> -->
              </div></form>
             <div class="exit-btn">
              
             </div>
            </div>

          </div>

    

         </div>

          <div class="panel-humburger hide-for-desktop">
    
            <img src="/en/images/Panel-Burger.svg" alt="">
    
          </div>
          
    
        </div>

      </div>


    </div>

    <div class="main">

      <div class="class-list">

        <div class="class-list-title">
          <h2>
            <span>
              |
            </span>
           Your Classes List
          </h2>
          <form action="/en/panel/class-registration" method="GET">
            <button type="submit" class="icdrn-btn" >
         register in classes    +
  
            </button></form> 
  
        </div>
        
        <div class="class-list-cards">
          <% if(classes.length != 0){
          classes.forEach(element => {
            function selectClassName(){
              if(element.className=="Ielts")
              return  "Ielts Class";
            
            if(element.className=="Toefl")
              return "Toefl Class"
            
            if(element.className=="Duolingo")
              return "Duolingo Class"
            
            if(element.className=="Emigration")
              return "Emigration Class"
            
            if(element.className=="Conversation")
              return "Conversation Class"
            }

            function selectClassTeacher(){
              if(element.classTeacher=="Noorzad")
              return  "DR.Pezhman Noorzad";
            
            if(element.classTeacher=="Bahrami")
              return "Ms.Hanieh Bahrami"
            
            if(element.classTeacher=="Mohebiii")
              return "Ms.Atefeh Mohebi"
            
            if(element.classTeacher=="Nouri")
              return "MS.Mina Noori"
            
            if(element.classTeacher=="Zolfaghari")
              return "MS. Arezoo Zolfaghari"
            
            if(element.classTeacher=="Jadidi")
            return "Mr.Javad Jadidi"
            if(element.classTeacher=="Asi")
            return "MS.Nikta Asi Shad"
            }

            function selectTeacherImage(){
              if(element.classTeacher=="Noorzad")
              return  "../../images/Master-Pic-1.png";
            
            if(element.classTeacher=="Bahrami")
              return "../../images/Master-Pic-3.png"
            
            if(element.classTeacher=="Mohebiii")
              return "../../images/Master-Pic-2.png"
            
            if(element.classTeacher=="Nouri")
              return "../../images/Master-Pic-4.png"
            
            if(element.classTeacher=="Zolfaghari")
              return "../../images/Master-Pic-5.png"
            
            if(element.classTeacher=="Jadidi")
            return "../../images/Master-Pic-6.png"

            if(element.classTeacher=="Asi")
            return "../../images/Master-Pic-7.png"
            }
            
            function selectClassType(){
              if(element.classType=="Private")
              return  "Class Type : Private";
            
            if(element.classType=="Public")
              return "Class Type : Public"
            }
            
            
                  
                 %> 
          <div class="class-card">

            <div class="class-detail">

              <h3>
                <%= selectClassName(); %>
              </h3>

              <ul class="class-info">

                <li>
                 Teeacher: <%= selectClassTeacher(); %>
                </li>
                <li>
                 <%= selectClassType(); %>

                </li>

                <li>
                 Details  :  <%= element.classDeatails || element.classTime %>
                </li>

              </ul>
              <% if(element.proccess != "inProccess")  { %>
                
              <button type="submit" class="icdrn-btn">
              <a href="/en/class-list/modal"> enter classroom</a>
              </button>
              <% }else{ %>
              <button type="submit" class="icdrn-btn" disabled>
                In progress

                  </button>
                  <% } %>
            </div>

            <div class="class-pic">

              <img src="<%= selectTeacherImage(); %>" alt="">
              
            </div>

          </div>

          
          <%
      });
          }
          %>      
        </div>
      </div>

    </div>

  <div class="side-menu hide-for-phone">

      <nav class="panel-menu-list">
  
        <div class="panel-logo">
  
          <img src="/en/images/ICDRN-Navbar-Logo.png" alt="">
  
        </div>
  
        <div class="panel-menu-item">
  
          <img src="/en/images/Panel-Home-Icon.svg" alt="">
  
  
          <a href="/en/dashboard">
    
    
            Dashboard
          
          </a>
  
        </div>
  
    
  
        <div class="panel-menu-item active">
  
          <img src="/en/images/Panel-Classes-Icon.svg" alt="">
  
  
          <a href="/en/panel/class-list">
    
    
            Classes List
          
          </a>
  
        </div>
  
  
        <div class="panel-menu-item">
  
          <img src="/en/images/Panel-Classes-Registration-icon.svg" alt="">
  
  
          <a href="/en/panel/class-registration">
    
    
            New Class
          
          </a>
  
        </div>
  
        <div class="panel-menu-item">
  
          <img src="/en/images/Panel-Placemennt-list-icon.svg" alt="">
  
  
          <a href="/en/panel/placement-test-history">
    
    
            Placement Tests
          
          </a>
  
        </div>
  
        <div class="panel-menu-item">
  
          <img src="/en/images/Panel-edit-profile-icon.svg" alt="">
  
  
          <a href="/en/panel/profile-edit">
    
    
            Edit Profile
          
          </a>
  
        </div>
  
      </nav>
  
      <div class="panel-exit-box">
  
        <img src="/en/images/Panel-Exit.svg" alt="">
  
      </div>
  

  </div>

  </div>

  <div id="loader-wrapper">
    <div id="loader"></div>
    <div class="loader-section section-left">

    </div>
    <div class="loader-section section-right"></div>
    <div class="loader">
      <img src="../images/loading.svg" alt="">
      <h2>Website is loading...!</h2>
    </div>
  </div>
  <section class="icdrn-modal" id="lanmisDetails">
    <div class="icdrn-modal-content">

      <a href="/panel/class-list"><span class="modal-close" id="modalCloseA">
        &times;
      </span></a>

       <img src="../images/Confirmation-Modal-Img.svg" class="modal-img" alt="" style="display: none;"> 



      <h3>
        توضیحات ورود به کلاس
        </h3>

      <p>

        دقت کن که نام کاربری و پسوردت تو لنمیس همون کد ملیته
       

      </p>

      <a href="<%= link %>"><button type="submit" class="icdrn-btn">
        
         ورود به کلاس
        
      </button> </a>

    </div>
  </section>
<% if (showLanmisDetails==true){ %> 
    <script> 
      
      const getRegisterErrorModal = document.querySelector('#lanmisDetails');
     
      
      
      
  
      
        getRegisterErrorModal.style.display = "flex";
      
      
    
  
      
  
     </script>
    <% } %>
    
  <script src="/en/app/js/app.js"></script>
  <script src="/en/app/js/PanelMenuToggle.js"></script>

  <script>

    //For Live Projects
        window.addEventListener('load',function(){
          document.querySelector('body').classList.add("loaded")  
        });
    
    
      </script>

</body>
</html>