<!DOCTYPE html>
<html lang="/en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Placement Tests | Student's Panel</title>
  <link rel="icon" type="image/png" sizes="94x94" href="/en/images/Favicon/ICDRN-Favicon-(94x94).png">
  <link rel="manifest" href="/en/images/Favicon/manifest.json">
  <link rel="stylesheet" href="/en/dist/css/main.min.css">
  <link rel="stylesheet" href="/en/dist/css/loader.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">  
</head>
<body>

  
  <div class="container-panel container-panel-placement">

    <div class="panel-overlay hide-for-desktop">

      
      <nav class="panel-overlay-menu">
 
       <img src="/en/images/ICDRN-Navbar-Logo.png" alt="" class="logo">
 
       <div class="panel-menu-item">
     
         <img src="/en/images/Panel-Home-Icon.svg" alt="">
 
 
         <a href="/en/dashboard">
   
   
           Dashboard
         
         </a>
 
       </div>
 
   
 
       <div class="panel-menu-item">
 
         <img src="/en/images/Panel-Classes-Icon.svg" alt="">
 
 
         <a href="/en/panel/class-list">
   
   
           Classes List
         
         </a>
 
       </div>
 
 
       <div class="panel-menu-item">
 
         <img src="/en/images/Panel-Classes-Registration-icon.svg" alt="">
 
 
         <a href="/en/panel/class-registration">
   
   
           New Class
         
         </a>
 
       </div>
 
       <div class="panel-menu-item active">
 
         <img src="/en/images/Panel-Placemennt-list-icon.svg" alt="">
 
 
         <a href="/en/panel/placement-test-history">
   
   
           Placement Tests
         
         </a>
 
       </div>
 
       <div class="panel-menu-item">
 
         <img src="/en/images/Panel-edit-profile-icon.svg" alt="">
 
 
         <a href="/en/panel/profile-edit">
   
   
           Edit Profile
         
         </a>
 
       </div>
 
       <div class="panel-exit-box">
     
         <img src="/en/images/Panel-Exit.svg" alt="">
   
       </div>
 
      </nav>
 
 
     </div>

    <div class="navbar">

      <div class="navbar-search">

        <div class="searchbox">

          <div class="search-input-box">
            <input type="text" class="search-input" placeholder="What Are You Searching About?">
            <!-- <i class="fas fa-search"></i> -->
            <button class="search-btn" type="submit">
              Search
            </button> 
          </div>

        </div>
      </div>

      <div class="navbar-status">

        <div class="panel-status-bar">

         <div class="status-icons">

          <div class="bells">
    
            <a href="/en"> <img src="../../images/Panel-home.svg" 
              alt=""></a>

           <!--  <div class="bells-dropdown">
              <h3>
                <span>|</span>
                IELTS Club system messages
              </h3>
              <div class="email-list">
                <p>

                  <img src="/en/images/Email-Blob.svg" alt="">

                  <span class="email-title">
                    Forget Password
                  </span>

                  click on link!

                </p>
                <p>

                  <img src="/en/images/Email-Blob.svg" alt="">

                  <span class="email-title">
                    Special immigration discount
                  </span>

                  More Information...

                </p>
                <p>

                  <img src="/en/images/Email-Blob.svg" alt="">

                  <span class="email-title">
                    Learn online during the Corona Epidemic!
                  </span>

                 So Easy!

                </p>
                <p>

                  <img src="/en/images/Email-Blob.svg" alt="">

                  <span class="email-title">
                    Our Social Media Links
                  </span>

                 Improve Together

                </p>
                <p>

                  <img src="/en/images/Email-Blob.svg" alt="">

                  <span class="email-title">
                    New course invoices
                  </span>

                  A completely safe experience!

                </p>
              </div>
             </div> -->
    
          </div>
    
          <div class="message">
    
            <img src="/en/images/Panel-Messsage.svg" 
            alt="">

            <div class="message-dropdown">
              <h3>
                <span>|</span>
              List of your emails           
               </h3>
              <!-- <div class="email-list">
                <p>

                  <img src="/en/images/Email-Blob.svg" alt="">

                  <span class="email-title">
                    Forget Password
                  </span>

                  click on link!

                </p>
                <p>

                  <img src="/en/images/Email-Blob.svg" alt="">

                  <span class="email-title">
                    Special immigration discount
                  </span>

                  More Information...

                </p>
                <p>

                  <img src="/en/images/Email-Blob.svg" alt="">

                  <span class="email-title">
                    Learn online during the Corona Epidemic!
                  </span>

                  So Easy!

                </p>
                <p>

                  <img src="/en/images/Email-Blob.svg" alt="">

                  <span class="email-title">
                    Our Social Media Links
                  </span>

                  Improve Together

                </p>
                <p>

                  <img src="/en/images/Email-Blob.svg" alt="">

                  <span class="email-title">
                    New course invoices
                  </span>

                  A completely safe experience!

                </p>
              </div> -->
             </div>
    
          </div>
    
          <div class="profile">
    
            <img src="/en/images/Panel-Profile.svg" alt="">
    

            <div class="profile-dropdown">
             <h3>
               <span>|</span>
               Welcome Dear <%= userName  %>! 
             </h3>
             <form action="/en/logout" method="GET">
              <div class="exit-btn">
               <input type="image" src="../../images/Logout-Icon.svg" width="40px"/>
              <!-- <img src="../../images/Logout-Icon.svg" alt="" onclick=""> -->
              </div></form>
             <div class="exit-btn">
              
             </div>
            </div>

          </div>

    

         </div>

          <div class="panel-humburger hide-for-desktop">
    
            <img src="/en/images/Panel-Burger.svg" alt="">
    
          </div>
          
    
        </div>

      </div>

    </div>

    <div class="main">

      <div class="placementtest-history">

        <div class="placementtest-history-title">
          <h2>
            <span>
              |
            </span>
            Placement Test History
          </h2>
          <button type="submit" class="icdrn-btn"  id="startPlacementTestBtn">

            New Placement Test 

            <span>+</span>

          </button>
        </div>

        <div class="placementtest-history-table-box">

          <table class="placementtest-history-table">
            <tr>
              <th>id</th>
              <th>user name</th>
              <th>correct answer</th>
              <th>false answer</th>
              <th>student level</th>
              <th>quiz date</th>
              <th>quiz type</th>
              <th>Payment status</th>
            </tr>
          
          <%   if(quizes.length!= 0){ %> 
            <% let i=0; %>
           <%    quizes.forEach(element => { %>
            <%     i++; 
              function trueAnswer(){
              if(element.trueAnswer==null){
               return  "-"
              }return element.trueAnswer;
            }
            function falseAnswer(){
              if(element.falseAnswer==null){
               return  "-"
              }return element.falseAnswer;
            }
            function level(){
              if(element.level==null){
               return  "-"
              }return element.level;
            }
            %> 

            <tr>
              <td><%= i %></td>
              <td><%= element.name %></td>
              <td><%= trueAnswer(); %></td>
              <td><%= falseAnswer(); %></td>
              <td><%= level(); %></td>
              <td><%= element.Date %></td>
              <%function showType() {
              if(element.quizType=="Written"){
                return "Written"
              }else{
                return "Oral"
              }} %>
              <td><%= showType(); %> </td>
              <td>
                <span>paied</span>
              </td>
            </tr>
         <%              
            });
          }  %>

          </table>

        </div>

      </div>

    </div>

    <div class="side-menu hide-for-phone">

      <nav class="panel-menu-list">
  
        <div class="panel-logo">
  
          <img src="/en/images/ICDRN-Navbar-Logo.png" alt="">
  
        </div>
  
        <div class="panel-menu-item">
  
          <img src="/en/images/Panel-Home-Icon.svg" alt="">
  
  
          <a href="/en/dashboard">
    
    
            Dashboard
          
          </a>
  
        </div>
  
    
  
        <div class="panel-menu-item">
  
          <img src="/en/images/Panel-Classes-Icon.svg" alt="">
  
  
          <a href="/en/panel/class-list">
    
    
            Classes List
          
          </a>
  
        </div>
  
  
        <div class="panel-menu-item">
  
          <img src="/en/images/Panel-Classes-Registration-icon.svg" alt="">
  
  
          <a href="/en/panel/class-registration">
    
    
            New Class
          
          </a>
  
        </div>
  
        <div class="panel-menu-item active">
  
          <img src="/en/images/Panel-Placemennt-list-icon.svg" alt="">
  
  
          <a href="/en/panel/placement-test-history">
    
    
            Placement Tests
          
          </a>
  
        </div>
  
        <div class="panel-menu-item">
  
          <img src="/en/images/Panel-edit-profile-icon.svg" alt="">
  
  
          <a href="/en/panel/profile-edit">
    
    
            Edit Profile
          
          </a>
  
        </div>
  
      </nav>
  
      <div class="panel-exit-box">
  
        <img src="/en/images/Panel-Exit.svg" alt="">
  
      </div>
  

  </div>

  </div>























  <section class="icdrn-modal-lg placement-test-registration-modal" id="placeMentTest">

    <span class="modal-close">
    &times;
  </span>


<div class="icdrn-modal-grid">

  <form action="/en/quiz" method="POST">
  <div class="modal-content">

    <h3>
      ثبت نام جهت تعین سطح
    </h3>

    <div class="modal-form">
      <input type="text" class="icdrn-input" placeholder="نام و نام خانوادگی خود را وارد کنید" name="name" required>
    <div class="placement-test-mode-box">
      <div class="select">
        <select id="standard-select" name="quizType" required>
          <option disabled selected >روش برگزاری تعیین سطح</option>
          <option value="Written">
            کتبی | سیستمی آنلاین
          </option>
          <option value="Oral">
            شفاهی | تماسی پرسش محور
          </option>
        </select>
        <span class="icon"></span>
      </div>
    </div>
     
    </div>

    <div class="modal-pricde">



      <h3 class="modal-price-number">
        هزینه آزمون
        :
      <span>
        <del> ۲۵.۰۰۰ تومان</del>
      </span>
      رایگان
      </h3>

    </div>

    <div class="privacy-policy">

      <input type="checkbox" name="isChecked" required>
      <span class="checkmark"></span>
      <label for="">
        قوانین و مقررات آیلتس کلاب را می پذیرم.
      </label>

    </div>



  <button type="submit" class="icdrn-btn">

    ثبت نام در آزمون تعیین سطح

   </button>


</div>
</form>
<div class="modal-img">
  <img src="../../images/Placement-Q!uiz.svg" alt="">
  <div class="modal-img-subtitle hide-for-phone">

   <span>

    لطفا به حساب کاربری خود وارد شوید یا ثبت نام  کنید و
   </span>

    اطلاعات حساب کاربری خود را در پنل کاربری
    <br>

   به درستی وارد کنید تا در صورت برقراری کلاس ها،
   <br>
   امکان تماس با شما دوست عزیز فراهم باشد.


  </div>
</div>

</div>

</section>














  <div id="loader-wrapper">
    <div id="loader"></div>
    <div class="loader-section section-left">

    </div>
    <div class="loader-section section-right"></div>
    <div class="loader">
      <img src="../images/loading.svg" alt="">
      <h2>Website is loading...!</h2>
    </div>
  </div>

  <script src="/en/app/js/app.js"></script>
  <script src="/en/app/js/PanelMenuToggle.js"></script>
  <script>
    const openPlacementTest=document.querySelector("#openPlacementTest");
    const placeMentTest=document.querySelector("#placeMentTest");
    openPlacementTest.addEventListener("click",()=>{
      placeMentTest.style.dispaly="flex";
    })

  </script>

<script> 
  const getReportBTN=document.querySelector("#startPlacementTestBtn");
  const getRegisterErrorModal = document.querySelector('#placeMentTest');
 
  const closeTheModal=document.querySelector("#modal-close");
  
  const getmodalClose = document.querySelector('#comingSoonBtn');
  
  getReportBTN.addEventListener("click",()=>{
    getRegisterErrorModal.style.display = "flex";
  })
  
  closeTheModal.addEventListener("click",()=>{
    getRegisterErrorModal.style.display = "none";
  })

 </script>
  <script>

    //For Live Projects
        window.addEventListener('load',function(){
          document.querySelector('body').classList.add("loaded")  
        });
    
    
      </script>

</body>
</html>